/*menú*/

nav {
    position:sticky;
    top: 0;
    right: 0;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content:right;
    align-items: center;
    background-color: transparent !important;
}
  
nav ul {
    display: flex;
    list-style: none;
    margin: 10;
    padding: 10;
}
  
nav ul li {
    margin-left: 20px;
}
  
nav ul li a {
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 0.3s ease;
    align-content: flex-end;
}
  

body{
    padding-top: 10px;
    background-color: rgb(165, 99, 196);
}

.navbar-brand img{
    width: 100px;
}



.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 10px;
  }

  .grid-container img {
    width: 500px;
    height: auto;
    display: block;
  }





  /*Agregamos sombra a las imágenes*/
  img {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    }
    
   /*Ajustamos los márgenes y padding de los contenedores*/
    .container {
      margin-top: 50px;
    }
    
    .container > .row > .col {
      padding: 10px;
    }
 
  
/*Estilos para las imágenes de la galería*/
  .container img {
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
      size: 500px;
      max-width: 100%;
      height: auto;
      margin: 10px;
      transition: transform 0.3s ease-in-out;
    }
    
    .container img:hover {
      transform: scale(1.01);
    }
    
/*ara los contenedores de las imágenes*/
    .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
    }