//colores

//violetas
$color-principal:  rgb(165, 99, 196);
$color-secundario:  rgba(165, 99, 196, 0.411);

//texto
$color-titutlo: black;
$color-parrafo: rgb(46, 46, 46);
$color-aux: white;
$color-footer: black